body {
  font-family: "Geneva", Tahoma, sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Arial Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Arial Black";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Geneva", Tahoma, sans-serif;
}

p {
  color: #8f8f8f;
}

/* navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Geneva", Tahoma, sans-serif;
  font-size: 1.2rem;
}

/* download-button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* feature section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
/* feature-box */

.feature-box {
  text-align: center;
  padding: 5%;
}

/* feature-icons */

.feature-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #ff4c68;
}

/* testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 13%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.testimonial-logos {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing-section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* cta section */

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 17% 3%;
}

.cta-h3 {
  font-family: "Arial Black";
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 3%;
}

/* footer-section */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.social-icons {
  padding: 1%;
}

.social-icons:hover {
  color: #ff4c68;
}
